@page
@model IndexModel
@{
    ViewData["Title"] = "Formulár";
}

<div class="text-center">
    <h1 class="display-4">Návrh formulára pre SIPVS </h1>
    <form method="post">
        <label for="title">Názov: </label>
        <input type="text" id="title" name="title" required><br>
        
        <label for="year">Rok: </label>
        <input type="number" id="year" name="year" required><br>
        
        <label for="duration">Dĺžka filmu: </label>
        <input type="time" id="duration" name="duration" required><br>
        
        <button type="submit">Odoslať</button>
    </form>
    <script>
        function showPopup(message) {
            alert(message);
        }
    </script>
    <h2 class="display-5">Nahraj XML súbor a porovnaj s XSD</h2>
    <form method="post" asp-page-handler="UploadXml" enctype="multipart/form-data">
        <input id="file-upload" type="file" name="xmlFile" accept=".xml" required />
        <button type="submit">Porovnaj</button>
    </form>
    @if (TempData["result"] != null)
    {
        <div>@TempData["result"]</div>
    }
</div>


@Html.HiddenFor(model => model.FormData.Title)
@Html.HiddenFor(model => model.FormData.Year)
@Html.HiddenFor(model => model.FormData.Duration)

@if (ViewData["PopupMessage"] != null)
{
    <script>
        showPopup('@ViewData["PopupMessage"]');
    </script>
}
